<section class="proyectos">

  <h2>Mis Proyectos</h2>
  <p class="descripcion">Administra tus proyectos académicos y laborales.</p>

  <div class="acciones">
    <button class="btn-crear" (click)="toggleFormulario()">+ Crear proyecto</button>
  </div>

  
  <app-formulario-proyecto *ngIf="mostrarFormulario"></app-formulario-proyecto>

  <div class="lista-proyectos">

    
    <app-tarjeta-proyecto *ngFor="let p of proyectos" [proyecto]="p"></app-tarjeta-proyecto>

    
    <p *ngIf="!proyectos || proyectos.length === 0" class="sin-proyectos">
      Aún no tienes proyectos registrados.
    </p>

  </div>

</section>

