<header class="cabecera">
  <div class="cabecera__logo" routerLink="/">
    <h1>Portafolio Dev</h1>
  </div>

  <ng-container *ngIf="!(isLoginPage$ | async)">
    <nav class="cabecera__nav">
      <ng-container *ngIf="currentUser$ | async as user  ">
        <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
        <a routerLink="/programadores" routerLinkActive="active">Programadores</a>
        <a routerLink="/agendar" routerLinkActive="active">Agendar</a>
        <a routerLink="/login" (click)="onLogout()" routerLinkActive="active">Cerrar Sesion</a>
      </ng-container>
      
    </nav>
  </ng-container>
</header>

