.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background: #0A66C2;   /* Azul LinkedIn */
  color: #fff;
}

.logo {
  font-weight: 600;
  font-size: 1.2rem;
}

.main-nav {
  display: flex;
  gap: 1.2rem;
}

.main-nav a {
  color: #2c6dad;       /* Gris-azulado LinkedIn */
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.main-nav a:hover {
  color: #212b83;        /* Hover blanco fuerte */
  text-decoration: underline; /* opcional, muy LinkedIn */
}

.main-nav a:active {
  color: #004182;        /* Azul oscuro usado en estados activos */
}
